{
    "token": "<Your bot token>",
    "inviteLink": "",
    "prefix": "!",
    "owners": [],
    "errorMessage": "**Oof!** Please tell my owner that I've broken.",
    "logTimestamps": true,
    "debug": false
}